<div class="container" id="js-heightControl">
	<div class="col-sm-12">
		<div class="nb-error">
			  <div class="error-code">404</div>
			  <h3 class="font-bold">We couldn't find the page..</h3>

			  <div class="error-desc">
				  Sorry, but the page you are looking for was either not found or does not exist. <br/>
<!-- 				 <ul class="list-inline text-center text-sm">
				   <li class="list-inline-item"><a href="http://nextbootstrap.com" class="text-muted">Go to App</a>
				   </li>
				   <li class="list-inline-item"><a href="http://nextbootstrap.com" class="text-muted">Login</a>
				   </li>
				   <li class="list-inline-item"><a href="http://nextbootstrap.com" class="text-muted">Register</a>
				   </li>
				</ul> -->
				<div class="text-center">
				  <span>©</span>
				  <span>{{currentyear}}</span>
				  <span>-</span>
				  <span>Tenant Repair Report System</span>				  
			   </div>
			   <div class="text-center"><a routerLink="/">Back to Home</a></div>
			  </div>
		</div>
	</div>
</div>

