<div class="footer" id="footer">
	<div class="container text-center center-block padding_20">
		<br />
		<a class="custom_text" href="https://www.facebook.com/SmartTenantRepair" target="_blank"><i class="fa fa-facebook social_icons_footer" [ngStyle]="{'background-color': bannercolor}" aria-hidden="true"></i>&nbsp;FACEBOOK &nbsp;</a>
		<!-- <a class="custom_text" href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram social_icons_footer" [ngStyle]="{'background-color': bannercolor}" aria-hidden="true"></i>&nbsp;INSTAGRAM &nbsp;</a> -->
		<a class="custom_text" href="https://twitter.com/SmartTenant" target="_blank"><i class="fa fa-twitter social_icons_footer" [ngStyle]="{'background-color': bannercolor}" aria-hidden="true"></i>&nbsp;TWITTER &nbsp;</a>
		<a class="custom_text" href="https://www.linkedin.com/company/smarttenant/" target="_blank"><i class="fa fa-linkedin social_icons_footer" [ngStyle]="{'background-color': bannercolor}" aria-hidden="true"></i>&nbsp;LINKEDIN &nbsp;</a>
	</div>
	<h6 class="last_head">Copyright ©&nbsp;{{currentYear}}&nbsp;SmartTenant. All Rights Reserved.</h6>
</div>  
