.link_align
 {
 	float:right;
 	font-size: 20px;
    color: #f00;
 }
 .tab1
  {
  	 margin-top:30px;
  }
  .tab_list
  {
  	margin-bottom: 20px;
  	font-family: 'Open Sans',
  	 sans-serif;
  }
  .hover_effect > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
     color: #fff;
     cursor: default;
     background-color: #38589f;
     border: 1px solid #ddd;
     border-bottom-color: transparent;
 }
 .no_radius
 {
 	border-radius: 0px;
 }
 .background
 {
 	   	background-color: #e6e6e6;
 }
 .tab_links 
 {
 	color:black;
 }

@media only screen and (min-width: 320px) and (max-width : 767px) {
	h1, .h1, h2, .h2, h3, .h3 { font-size: 20px; }
	.link_align { font-size: 12px; margin-bottom: 15px; }
	.nav > li > a { padding: 8px; font-size: 12px; }
	.container { margin: 0px; padding: 0px; }
	.top-padding { padding: 0px; }
	.nav-tabs > li { float: none; }
	.head_edit { font-size: 12px; }
	.table-div { font-size: 10px; }
	.form-horizontal .form-group { margin: 0px; padding: 10px; }
	.container-fluid { margin-top: 15px; }
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { padding: 0px; }
}