<div class="main_div">
  <div class="div_one">
    <p class="para_one">THE BEST WAY TO MANAGE REPAIRS AND MAINTENANCE</p>
    <p class="para_two">SMART, WEB-BASED SOFTWARE FOR BLOCK, COMMERCIAL AND PROPERTY PROFESSIONALS</p>
  </div>
  <div class="div_two ">
    <div class="login_form">
      <h1 class="form_heading">Tenant Login</h1>
      <form class="myform" #f="ngForm" (ngSubmit)="customerLogin(f.value)">
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid email and/or password.</div>
        <div class="form-group">
          <input type="text" class="form__input email-input" [ngStyle]="{'background-color': bannercolor}" id="email" name="email" ngModel placeholder="Enter Email" required autofocus>
        </div>
        <div class="form-group">
          <input type="password" class="form__input password-input" [ngStyle]="{'background-color': bannercolor}" id="password" name="password" ngModel placeholder="Enter Password" required>
        </div>
        <div class="form-group">        
          <div ><button type="submit" class="btn btn-primary submit_button" [ngStyle]="{'background-color': bannercolor, 'border-color': bannercolor}">Log In</button>
			
            <a [routerLink]="['/tenant-forgotpassword']">&nbsp; Forgot Password &nbsp;</a>
			<a [routerLink]="['/page', agentUsername]">&nbsp; Back to Home</a>
          </div>
        </div>
		<div class="form-group">
			<a [routerLink]="['/tenant-registration', agentUsername]">Doesn't have account? Please register.</a>
		</div>
      </form>
      </div>
    </div>
  </div>

