<div id="wrapper">
    <top-bar></top-bar>
    <div id="page-wrapper">
        <div class="container-fluid content_background">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page_heading">Issue Submitted</h1>
                    <div class="breadcrumb">
                        <div id="new-search-area"></div>
                    </div>
                </div>
            </div>
            <app-issue></app-issue> <!-- Issue component -->
        </div>
        <!-- /.container-fluid -->
    </div>
<!-- /#page-wrapper -->
</div>
